<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Bookers</title>
  </head>
  
  <body>
    <heder>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/homes#top">Bookers</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarCollapse" style>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                 <%= link_to "Home", book_path, class: 'nav-link text-dark' %>
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <%= link_to "About", book_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign up", new_user_registration_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "Log in", new_user_session_path, class: 'nav-link text-dark' %>
              </li>
            </ul>
        </div>
      </nav>
    </heder>
      <h1>welcome to Bookers !!</h1>
     
    <footer class="footer mt-auto py-3">
      <div class="container">
        <span class="text-muted">CopyRight Infratop.inc</span>
      </div>
    </footer>
  </body>
</html>

